@import url("C:\Users\Michaela\qcomp2020\fonts/Tajawal/Tajawal.css");

body {
	margin: 0px auto; padding: 0px;
	font-family: 'Tajawal', sans-serif; font-size: 15px;
	background-color: #FFFFFF; color: #000000;
	hyphens: auto;
	line-height: 1.3;
}

.bestDefault {
    background-color: lightgreen;
}
.bestSpecific {
    background-color: lightblue;
}
.error {
	font-weight: bold;
	background-color: lightcoral;
}
.incorrect {
    background-color: orange;
	font-weight: bold;
}
.timeout {
    background-color: lightgray;
}
